<app-card [classHeader]="true">
  <table
    id="dtBasicExample"
    class="table table-striped table-bordered table-sm table-responsive"
    cellspacing="0"
    width="100%"
  >
    <thead>
      <tr>
        <th><strong>Picture</strong></th>
        <th class="col"><strong>Fistname</strong></th>
        <th><strong>Lastname</strong></th>
        <th><strong>Email</strong></th>
        <th><strong>Job Post</strong></th>
        <th><strong>Projects</strong></th>
        <th><strong>Actions</strong></th>
      </tr>
    </thead>

    <tbody style="margin-left: 500px" class=" text-center " *ngIf="users.length == 0" >

        <div   class="loader animation-start" style="text-align: center; margin-left: 610px">
          <span class="circle delay-1 size-2"></span>
          <span class="circle delay-2 size-4"></span>
          <span class="circle delay-3 size-6"></span>
          <span class="circle delay-4 size-7"></span>
          <span class="circle delay-5 size-7"></span>
          <span class="circle delay-6 size-6"></span>
          <span class="circle delay-7 size-4"></span>
          <span class="circle delay-8 size-2"></span>
        </div>
      </tbody>
      <tbody *ngIf="users.length != 0" >
          <tr *ngFor="let user of users; let i = index" >
        <td>
            <a (click) = 'profile(user.email)'  >

          <img
            class="img-radius"
            style="height:40px;width:40px"
            src="{{ user.profilPic }}"
          />
        </a>

        </td>
        <td>             <a (click) = 'profile(user.email)'  >
            {{ user.firstname }}</a></td>
        <td><a (click) = 'profile(user.email)' >{{ user.lastname }}</a></td>
        <td><a (click) = 'profile(user.email)' >{{ user.email }}</a></td>
        <td><a (click) = 'profile(user.email)' > {{ user.jobpost }}</a></td>
        <td>
          <button
            class="btn btn-md  btn-light-green waves-effect waves-effect"
            (click)="modalLarge.show(user.projects)"
            (click)="intializeProjects(i, user.projects)"
          >
            <i class="fa fa-eye fa-lg"></i>
          </button>
          <app-modal-basic #modalLarge [dialogClass]="'modal-md'">
            <div class="app-modal-header">
              <h3 class="modal-title">All Projects</h3>
              <button
                type="button"
                class="close basic-close"
                (click)="modalLarge.hide()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="app-modal-body">
              <table class="table table-striped table-responsive ">
                <thead></thead>
                <tbody>
                  <tr  *ngFor="let project of user.projects; let j = index">
                    <td scope="col" style="width:80%;"  >{{ project.name }}</td>
                    <td scole="col" style="width:15%;">
                      <div
                        class="float-right btn-group "
                        role="group"
                        aria-label="Basic example"
                      >
                        <button type="button"  style="width:1px !important;height: 30px"  class="btn btn-danger btn-sm"  (click)="removeProject(i, j)"
                        >
                          <i
                          style="
                          position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);"
                            class="float-right fa fas fa-times-circle fa-lg"
                          ></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br /> <form #addForm = "ngForm" >
              <select
                *ngIf="isclicked"
                [(ngModel)]="selectedOption"
                name="select"
                class=" browser-default custom-select form-control-primary"
              >
                <option
                  *ngFor="let project of projects; let k = index"
                  [ngValue]="project.id"
                  >{{ project.name }}</option
                >
              </select>
            </form>
            </div>
            <div class="app-modal-footer">
                <button
                type="button"
                class="btn btn-default waves-effect"
                (click)="modalLarge.hide()"
                >
                  Cancel
                </button>
              <button
                *ngIf="!isclicked"
                (click)="showList()"
                type="button"
                class="btn btn-primary waves-effect waves-light "  >
                <i class="icofont icofont-plus"></i>Affect new project
              </button>
              <button
                *ngIf="isclicked"
                (click)="affectProject(i, addForm)"
                type="button"
                class="btn btn-primary waves-effect waves-light "              >
                <i class="icofont icofont-checked"></i>Save
              </button>

            </div>
          </app-modal-basic>
        </td>
        <td align="center">
          <button
            (click)="openSuccessCancelSwal(user.email, user.firstname)"
            class="btn btn-md  btn-danger btn-danger"
          >
            <i class="fa fa-trash fa-lg"></i>
          </button>
        </td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
          <th><strong>Picture</strong></th>
          <th class="col"><strong>Fistname</strong></th>
          <th><strong>Lastname</strong></th>
          <th><strong>Email</strong></th>
          <th><strong>Job Post</strong></th>
          <th><strong>Projects</strong></th>
          <th><strong>Actions</strong></th>
      </tr>
    </tfoot>
  </table>

  <br />

  <br />
  <ng2-toasty></ng2-toasty>
</app-card>
