    <!-- Tab variant tab card start -->
    <app-card [title]="'conseils de nos Coachs Sportif pour bien Démarrer la Musculation et avoir la Forme'"  [blockClass]="'tab-icon'">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="sub-title">Nos conseils pour vous</div>
          <div class="md-tabs">
            <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabTitle><i class="icofont icofont-home"></i>DÉFINIR SON OBJECTIF</ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">

                      Maintenant, définissez votre objectif. Que ce soit pour prendre confiance en vous, avoir un corps plus dessiné, recommencer à faire du sport avec vos potes, augmenter vos performances au lit en ayant plus d’endurance, un objectif est un objectif. Et c’est en le gardant en tête que vous arriverez à votre but, en vous le rappelant en permanence, en l’affichant. FAITES TOUT POUR DEVENIR CELUI QUE VOUS ÊTES VRAIMENT.
                      
                      Une fois que vous avez défini votre objectif, que vous avez trouvé votre source de motivation, le plus difficile est fait. Votre détermination vous poussera à réussir. Il ne vous reste plus qu’à passer à la phase 2</p>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><i class="icofont icofont-ui-user "></i>LA MUSCULATION</ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">Maintenant le plus sérieux : la musculation en soit. C’est quand même pour ça que vous êtes là ! Il existe de très nombreux styles de musculation, de nombres d’exercices et de variations pour chacun. Selon votre niveau, vous avez donc différentes options.

                      Vous pouvez par exemple vous inscrire à la salle de sport et y faire des cours, ou prendre un coach personnel qui vous guidera dans les exercices.
                      
                      Cette option peut cependant s’avérer longue et coûteuse, surtout si vous n’avez pas de salle proche de chez vous.
                      
                      Une solution plus simple, c’est donc de faire du sport chez soi, quand on le veut. De nombreux exercices peuvent être faits à la maison, sans machine, en utilisant le poids de son corps ou en utilisant des poids qui se rangent facilement et discrètement.</p>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><i class="icofont icofont-ui-message"></i>MATÉRIEL À POSSÉDER</ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">Un short ou un jogging ainsi qu’un t-shirt, débardeur (…) ou polo qui vous laissent assez libres de vos mouvements – vous allez quand même vous dépenser !
                      Un tapis de sol – il vous servira pour les exercices… au sol. Vous pouvez en trouver dans les magasins de sport à partir de 20 dinars. Pensez quand même à les essayer avant de choisir.</p>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><i class="icofont icofont-ui-settings"></i>FRÉQUENCE DES ENTRAÎNEMENTS</ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">Idéalement 3 à 5 fois si vous avez le temps. Il y a d’ailleurs de nombreuses séances que vous pouvez fractionner en 2. Ainsi, une séance complète de près d’une heure pourra souvent être séparée en 2×30 minutes, par exemple une fois le matin et une autre le soir.</p>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="sub-title">Citations de nos coachs</div>
          <div class="md-tabs md-image-tab">
            <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <img src="assets/images/avatar-5.jpg" class="img-fluid img-circle" alt="">
                  <span class="quote"><i class="icofont icofont-quote-left bg-primary"></i></span>
                </ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">« Même le dernier d'une course est devant ceux qui ne courent pas. »</p>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <img src="assets/images/avatar-2.jpg" class="img-fluid img-circle" alt="">
                  <span class="quote"><i class="icofont icofont-quote-left bg-primary"></i></span>
                </ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">« Votre corps peut presque tout faire, c'est votre tête qui a besoin d'en être convaincue »</p>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <img src="assets/images/avatar-3.jpg" class="img-fluid img-circle" alt="">
                  <span class="quote"><i class="icofont icofont-quote-left bg-primary"></i></span>
                </ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">“Il vaut toujours mieux essayer que de ne jamais échouer.”</p>
                  </div>
                </ng-template>
              </ngb-tab>

            </ngb-tabset>
          </div>
        </div>
      </div>
    </app-card>
    <!-- Tab variant tab card start -->